@model RazorVibes.Models.Product
@{
    ViewBag.Title = "Product details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product details</h2>

<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Price</dt>
    <dd>@Model.Price.ToString("C")</dd>

    <dt>Stock</dt>
    <dd>@Model.Stock</dd>
</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "button" })
    @Html.ActionLink("Back", "Index", null, new { @class = "button secondary" })
</p>
